<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzsw.wqh.mapper.RoomEntityMapper">
  <resultMap id="BaseResultMap" type="com.dzsw.wqh.model.RoomEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="room_no" jdbcType="INTEGER" property="roomNo" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="total_stock" jdbcType="INTEGER" property="totalStock" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <update id="reduceRoomCount">
    UPDATE room
    SET stock = stock - 1, sales = sales + 1
    WHERE room_no = #{roomNo} and stock>0
  </update>
</mapper>